ktor:
  application:
    modules:
      - com.example.ApplicationKt.module
  deployment:
    port: 8080
    host: localhost
    debug: true
    watch: [ classes ]
  freemarker:
    template: "templates"
    cache: false
    preferFileSystemAccess: false
    reloadable: true

jwt:
  domain: "https://jwt-provider-domain/"
  audience: "jwt-audience"
  realm: "ktor sample app"
  issuer: "https://jwt-provider-domain/"
  secret: "your-secret-key"
postgres:
  url: "jdbc:postgresql://ep-autumn-frost-a1050ajn-pooler.ap-southeast-1.aws.neon.tech/verceldb?sslmode=require"
  user: default
  password:
    passwordktor: yP1LTuYJHsC8
  driver: org.postgresql.Driver
  kafka:
    schema.registry.url:
      - "SCHEMA_REGISTRY_URL"
    common:
      bootstrap.servers:
        - "BOOTSTRAP_SERVERS"
      # Additional attributes
    admin:
    # Additional attributes
    consumer:
      group.id: "my-group-id"
      # Additional attributes
    producer:
      client.id: "my-client-id"
      # Additional attributes
    topics:
      - name: my-topic
        partitions: 1
        configs:
          message.timestamp.type: CreateTime
          # Additional attributes
line:
  webhook:
    channelSecret: "YOUR_CHANNEL_SECRET"
    channelToken: "YOUR_CHANNEL_TOKEN"
